# Python
__pycache__/
*.py[cod]
*$py.class

# Build artifacts (PyInstaller)
dist/
build/
*.spec

# Virtual environments
.venv/
venv/
env/

# IDE
.idea/
.vscode/
*.swp

# OS
Thumbs.db
Desktop.ini

# Logs / temp
*.log
*.dmp
